node_modules/
dist/
.vite/
.vite-temp/
venv/
.venv/
__pycache__/
*.pyc
*.log
.pytest_cache/
.pytest_cache
pytest-cache-files-*/
services/**/pytest-cache-files-*/
services/**/.tmp/
services/**/.tmp*/
services/**/.test_artifacts/
# services/cosmetics_mvp_preprocess/output/
.env
.DS_Store
